<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <!--Body content-->

      <ul class="levels">
        <li ng-repeat="level in levels">
          Level: {{ level.levelnum }}
          <ul class="nodes">
            <li ng-repeat="node in level.nodes">
              Type: {{ node.subtype }}, Position: {{ node.position }}, Name: {{ node.name }}
              <ul class="group-children">
                <li ng-repeat="child in node.children">
                  Name: {{ child.name }}
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
