<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <!--Body content-->

      <ul class="activities">
        <li ng-repeat="activity in activities">
          {{ activity.sub-type }}
          <a href="#"> {{ activity.name }} </a>
          
          <ul class="children">
            <li ng-repeat="child in activity.children">
              <a href="#">{{ child.name }}</a>
            </li>
          </ul>

        </li>
      </ul>

    </div>
  </div>
</div>
